.divgis{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.image-gis-container{
    background-color: #fff;
    height: 100%;
    width:66%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    gap: 0vw; /* Gap between images */    
}

.textogis {
    width:33%;
    height:100%;
}

.listagis {
    position: relative; 
}

.line3 {
    position: absolute;
    top: 0;
    left: 0%; 
    height: 0;
    transition: height 3s linear(0, 0.35 25%, 0.6 50%,  1);
    border-left: 50px solid #d40000;
    display: flex;
    align-items: flex-end;
}

.line3.loaded {
    height: 100%;
}

.image-gis-container p {
    color:black
}

.image-gis-container img {
    width: 17vh; /* Set a fixed width for images */
    height: 17vh; /* Set a fixed height for images */
    border-radius: 50%; /* Make the images circular */
    border: 1.5px solid #bfd1d8;
    object-fit: contain; /* Maintain aspect ratio while filling the container */
    padding: 1vw; 
    display: block; /* Change the display property */
    margin: 0 auto;
    opacity: 0;/*  Initially set opacity to 0 */
    animation: fadeIn 1s forwards;
    transition: transform 0.2s ease-in-out;
}

.image-gis-container img:hover {
    transform: scale(1.2);
}

.image-gis-container img:nth-child(1) {
    animation-delay: 0.3s; /* Delay for the first image */
  }

.image-gis-container img:nth-child(2) {
animation-delay: 0.6s; /* Delay for the first image */
}

.image-gis-container img:nth-child(3) {
animation-delay: 0.9s; /* Delay for the first image */
}
.image-gis-container img:nth-child(4) {
animation-delay: 1.2s; /* Delay for the first image */
}
.image-gis-container img:nth-child(5) {
animation-delay: 1.5s; /* Delay for the first image */
}
.image-gis-container img:nth-child(6) {
animation-delay: 1.8s; /* Delay for the first image */
}
.image-gis-container img:nth-child(7) {
animation-delay: 2.1s; /* Delay for the first image */
}
.image-gis-container img:nth-child(8) {
animation-delay: 2.4s; /* Delay for the first image */
}
.image-gis-container img:nth-child(9) {
animation-delay: 2.7s; /* Delay for the first image */
}

