.App {
  text-align: center;
  font-family:sans-serif;
  overflow: hidden;
}

.App-header {
  background-color: #bfd1d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.barraizq {
  position: fixed;
  left: 0;
  width:20vw;
  height:100vh;
  display:flex;
  flex-direction: column;
}

.titulo {
  position: fixed;
  top: 0;
  line-height: 0.1;
  text-align: right;
  right:2vw;
  height: 7vh;
  width: 78vw;
  display: flex;
  flex-direction: row-reverse;
}

.content{
  position: fixed;
  bottom: 0;
  right: 0%; 
  width:80vw;
  height:93vh;
  overflow: hidden;
}

.titulo p {
  font-size: 18px;
  width: 33vw;
}

.App-inlogo {
  height: 20vmin;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;  /*Position the image absolutely within the container */
  bottom: 5vh; /* Align the image to the bottom */
  left: 5vw; /* Align the image to the right */
}

a {
  text-decoration: none; 
  color: inherit;
}


.line-with-points{
  position: absolute; 
  top:0;
  left: 5vw; 
  height:66vh;
  padding: 0%;
  width: 15vw;
  z-index: 1;
}

.line {
  position: absolute;
  top: 0;
  left: 0%; 
  height: 0;
  transition: height 3s linear(0, 0.35 25%, 0.6 50%,  1);
  border-left: 1.5px solid #fff;
  display: flex;
  align-items: flex-end;
}

.line.loaded {
  height: 100%;
}

.points {
  height: 100%;
  bottom: 0;
  left:0;
  padding: 0%;
  margin: 0;
  margin-top:4px;
  text-align: left;
  display: flex;
  flex-direction: column;
}


.points li {
  height: calc(100% / 5);
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.points li::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: -3.5px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.line.loaded + .points li {
  opacity: 1; 
}

.line.loaded + .points li:nth-child(1) {
  transition-delay: 0.5s;
}

.line.loaded + .points li:nth-child(2) {
  transition-delay: 1s; 
}

.line.loaded + .points li:nth-child(3) {
  transition-delay: 1.8s; /* Delay for the third li text content */
}

.line.loaded + .points li:nth-child(4) {
  transition-delay: 2.4s; /* Delay for the fourth li text content */
}

.line.loaded + .points li:nth-child(5) {
  transition-delay: 3s; /* Delay for the fifth li text content */
}

.points li:hover {
  font-size: 20px; 
}







