@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.nosotrosdiv{
    display: flex;
    flex-direction:row;
    height: 100%;
}

.aboutus{
    text-align: justify;
    justify-content: center;
    align-items: center;
    background-color: #bfd1d8;
    width:33%;
    padding: 4vw;    
    color:#333;
    display: flex;
    flex-direction: column;
}

.aboutus h2 {
    font-weight:lighter;
    font-size: 20px;
    transform: scaleX(1.75) scaleY(1.9);
    margin-bottom: 1.5vh;
    color:black;
    opacity: 0.8;
}

.aboutus p{
    font-size: 18px;
}

.fototexto {
    width: 66%;
    height: 100%;
    background-color: #fff;
    display:flex;
    flex-direction: row;
}

.line2 {
    position:absolute;
    top: 0;
    left: 15vw;
    margin-left: 8vh;
    height: 0;
    z-index: 0;
    transition: height 3.5s linear(0, 0.25 25%, 0.5 50%, 0.75 75%,  1);
    border-left: 2px solid #acbfc9;

  }

.line2.loaded {
    height: 100%;
}


.fotos {
    display: flex;
    flex-direction: column;
    height: 100%;  
    padding-left: 15vw;
    justify-content: center;
}

.foto {
    width: 17vh; /* Adjust the percentage as needed */
    margin-top: 2vh;
    height: 17vh;    
    margin-bottom: 2vh;
    z-index: 1;
    opacity: 0;/*  Initially set opacity to 0 */
    animation: fadeIn 1.5s forwards;
    border: 2px solid #bfd1d8;
    border-radius: 50%;
    /*transition: opacity 0.5s ease;  Define transition effect */
}

.foto:nth-child(1) {
    animation-delay: 0s; /* Delay for the first image */
  }

.foto:nth-child(2) {
animation-delay: 1s; /* Delay for the first image */
}

.foto:nth-child(3) {
animation-delay: 1.5s; /* Delay for the first image */
}

.foto:nth-child(4) {
animation-delay: 2s; /* Delay for the first image */
}

.textos {
    color: black;
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
}

.descripcion {
    height: 18vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;/*  Initially set opacity to 0 */
    animation: fadeIn 1s forwards;
}

.descripcion:nth-child(1) {
    animation-delay: 2.5s; /* Delay for the first image */
  }

.descripcion:nth-child(2) {
animation-delay: 3s; /* Delay for the first image */
}

.descripcion:nth-child(3) {
animation-delay: 3.5s; /* Delay for the first image */
}

.descripcion:nth-child(4) {
animation-delay: 4s; /* Delay for the first image */
}

.textos h3{
    width: 100%;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.textos p {
    font-size: 12px;
    margin:0;
    width:100%
}

